@tailwind base;
@tailwind components;
@tailwind utilities;


.flex li{
    font-weight: 500;
}

.svg {
    margin: 0 auto; /* This centers the SVG horizontally */
    display: block; /* Ensures that the margin works properly */
}

/* .custom{
    background-image: url('assets/banner_pic.jpg');
    height: 650px;
} */